openapi: 3.1.0
info:
  title: Access Control API
  description: |-
    API for external systems to manage access control operations.

    ## Authentication

    Use the `X-Api-Key` header with your public API key.

    ## Available Operations

    - **Me**: Get current user information and associated companies
    - **Sites**: List available sites for filtering
    - **Clients**: List client companies for filtering
    - **My Companies**: List related companies (contractors/clients)
    - **Employees**: List employees for a company
    - **Vehicles**: List vehicles for a company
    - **Equipment**: List equipment for a company
    - **Assigned Resources**: List resources assigned to contracts
    - **Access Register**: Register entries and exits for workers and vehicles
    - **Access Control**: Query access control status
    - **Access Card**: Generate access cards (PDF/PNG)
    - **Visitors**: Manage visitor records
    - **Visit Register**: Register visitor entries and exits
  contact:
    name: Twind Support
    email: support@twind.com
  version: "1.0"
servers:
- url: https://app.twind.io/api
  description: Production server
tags:
- name: temporary-authorization-controller
  description: Temporary authorization management API
- name: access-control-controller
  description: Access Control Management API
- name: site-controller
  description: Site Management API
- name: me-controller
  description: Current User Information API
paths:
  /v1/companies/{companyId}/visitor/{visitorId}:
    get:
      tags:
      - visitor-controller
      operationId: getVisitor
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: visitorId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetVisitorResponse"
    put:
      tags:
      - visitor-controller
      operationId: updateVisitor
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: visitorId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVisitorDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: uuid
  /v1/companies/{companyId}/visitor:
    get:
      tags:
      - visitor-controller
      operationId: getVisitors
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: selected
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetDistinctVisitorsResponse"
    post:
      tags:
      - visitor-controller
      operationId: createVisitor
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVisitorDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
  /v1/companies/{companyId}/visit-register:
    get:
      tags:
      - visit-register-controller
      summary: Get all company visits
      description: "\n            Retrieves paginated visit records for a company.\n\
        \            The 'sites' filter parameter accepts site IDs which can be obtained\
        \ from\n            [GET /v1/companies/{companyId}/sites](#tag/site-controller/GET/v1/companies/{companyId}/sites)\n\
        \n            **Allowed sort fields:**\n            - `visitor_name` - Visitor\
        \ name\n            - `company_name` - Company name\n            - `resource_name`\
        \ - Visited person name\n            - `site_name` - Site name\n         \
        \   - `entry_at` - Entry timestamp\n            - `exit_at` - Exit timestamp\
        \ (default, missing on top)\n\n            **Sort format:** `?sort=field,direction`\
        \ (e.g., `?sort=exit_at,desc`)\n\n            **Search:** Use `q` to filter\
        \ by visitor name, identity number (national ID, passport, SSN, etc.), or\
        \ vehicle registration plate (case insensitive, partial match).\n        \
        \    "
      operationId: getAllCompanyVisits
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: visitors
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companies
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sites
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: plateNumbers
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: onlyAtSite
        in: query
        required: false
        schema:
          type: boolean
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "exit_at,DESC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved visits
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetCompanyVisitsResponse"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetCompanyVisitsResponse"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetCompanyVisitsResponse"
    post:
      tags:
      - visit-register-controller
      operationId: createVisitEntry
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVisitDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
  /v1/companies/{companyId}/vehicles:
    get:
      tags:
      - vehicle-controller
      operationId: findAll
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: companyScope
        in: query
        required: false
        schema:
          type: string
          enum:
          - ALL
          - MY_COMPANY
          - MY_SUBCONTRACTORS
      - name: contractorIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: selected
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelVehicleResponseDto"
  /v1/companies/{companyId}/sites:
    get:
      tags:
      - site-controller
      summary: List sites
      description: Retrieves paginated list of sites for a company. Use this endpoint
        to obtain site IDs for filtering in other endpoints.
      operationId: findAll_1
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Successfully retrieved sites list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelSiteDto"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelSiteDto"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelSiteDto"
  /v1/companies/{companyId}/equipment:
    get:
      tags:
      - equipment-controller
      operationId: findAll_2
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      - name: companyScope
        in: query
        required: false
        schema:
          type: string
          enum:
          - ALL
          - MY_COMPANY
          - MY_SUBCONTRACTORS
      - name: contractorIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelEquipmentResponseDto"
  /v1/companies/{companyId}/employees:
    get:
      tags:
      - employee-controller
      operationId: findAll_3
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: clientId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "firstName,ASC"
          items:
            type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: companyScope
        in: query
        required: false
        schema:
          type: string
          enum:
          - ALL
          - MY_COMPANY
          - MY_SUBCONTRACTORS
      - name: contractorIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: selected
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelEmployeeResponseDto"
  /v1/companies/{companyId}/access-register:
    get:
      tags:
      - access-register-controller
      summary: Get access register records
      description: "\n            Retrieves paginated access register records for\
        \ a company.\n\n            **Allowed sort fields:**\n            - `client_name`\
        \ - Client company name\n            - `contractor_name` - Contractor company\
        \ name\n            - `resource_name` - Resource name\n            - `site_name`\
        \ - Site name\n            - `entry_at` - Entry timestamp (default)\n    \
        \        - `exit_at` - Exit timestamp\n\n            **Sort format:** `?sort=field,direction`\
        \ (e.g., `?sort=entry_at,desc`)\n        "
      operationId: getAccessRegisterRecords
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: query
        description: "Filter by site ID. Obtain site IDs from [GET /v1/companies/{companyId}/sites](#tag/site-controller/GET/v1/companies/{companyId}/sites)"
        required: false
        schema:
          type: string
          format: uuid
      - name: resourceId
        in: query
        description: Filter by resource ID. Obtain resource IDs from access-control
          endpoints (resource.id field)
        required: false
        schema:
          type: string
          format: uuid
      - name: contractorId
        in: query
        description: Filter by contractor ID. Obtain contractor IDs from access-control
          endpoints (contractor.id field)
        required: false
        schema:
          type: string
          format: uuid
      - name: resourceType
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: entryOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: latestEntrance
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: q
        in: query
        description: "Search query: filters by resource fields (contains, case-insensitive).\
          \ Employee: name, surname, identity ID; Vehicle: name, plate number; Equipment:\
          \ name, serial number."
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "entry_at,DESC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved access register records
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessRegisterResponse"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessRegisterResponse"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessRegisterResponse"
    post:
      tags:
      - access-register-controller
      operationId: createAccessRegisterEntry
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
  /v1/companies/{companyId}/access-control/temporary-authorizations:
    get:
      tags:
      - temporary-authorization-controller
      summary: List temporary authorizations
      description: Returns paginated temporary authorizations for the client company
        (one row per site/resource).
      operationId: listTemporaryAuthorizations
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: authorizationIds
        in: query
        description: Filter by authorization group IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: statuses
        in: query
        description: "Filter by status (ALLOWED, NOT_ALLOWED)"
        required: false
        schema:
          type: array
          items:
            type: string
      - name: contractorIds
        in: query
        description: Filter by contractor IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: dateFrom
        in: query
        description: "Filter from date (inclusive, overlap semantics)"
        required: false
        schema:
          type: string
          format: date
      - name: dateTo
        in: query
        description: "Filter to date (inclusive, overlap semantics)"
        required: false
        schema:
          type: string
          format: date
      - name: resourceIds
        in: query
        description: Filter by resource IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: resourceTypes
        in: query
        description: "Filter by resource types (EMPLOYEE, VEHICLE, EQUIPMENT)"
        required: false
        schema:
          type: array
          items:
            type: string
      - name: siteIds
        in: query
        description: Filter by site IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: validityStatuses
        in: query
        description: "Filter by validity status (SCHEDULED, ACTIVE, EXPIRED, DELETED)"
        required: false
        schema:
          type: array
          items:
            type: string
      - name: authorizerIds
        in: query
        description: Filter by authorizer user IDs
        required: false
        schema:
          type: array
          items:
            type: string
      - name: name
        in: query
        description: Filter by authorization name (partial match)
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetTemporaryAuthorizationListItem"
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetTemporaryAuthorizationListItem"
        "403":
          description: Access denied
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetTemporaryAuthorizationListItem"
    post:
      tags:
      - temporary-authorization-controller
      summary: Create temporary authorization
      description: Creates a temporary authorization for the client company. Each
        resource in resourceIds is added for each site in siteIds (Cartesian product).
      operationId: createTemporaryAuthorization
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTemporaryAuthorizationDto"
        required: true
      responses:
        "201":
          description: Successfully created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
        "400":
          description: "Invalid request (e.g. dateTo < dateFrom, empty siteIds or\
            \ resourceIds)"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
        "403":
          description: Access denied
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
  /v1/users/me:
    get:
      tags:
      - me-controller
      summary: Get current user information
      description: "Retrieves detailed information about the currently authenticated\
        \ user, including their profile, permissions, company associations and userSettings\
        \ (e.g. mobile unattended mode)."
      operationId: me
      parameters:
      - name: companyId
        in: query
        description: Optional company ID to get permissions for (only applicable for
          Global Admins)
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Successfully retrieved user information
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserDetails"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserDetails"
  /v1/companies/{companyId}/visit-register/{visitRegisterId}:
    get:
      tags:
      - visit-register-controller
      operationId: getVisitDetails
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: visitRegisterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetVisitDetailsResponse"
    patch:
      tags:
      - visit-register-controller
      operationId: updateVisitExit
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: visitRegisterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVisitExitDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
  /v1/companies/{companyId}/access-register/{accessRegisterId}:
    patch:
      tags:
      - access-register-controller
      operationId: updateAccessRegisterWithExit
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: accessRegisterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNotesDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
  /v1/companies/{companyId}/access-control/temporary-authorizations/{temporaryAuthorizationId}:
    get:
      tags:
      - temporary-authorization-controller
      summary: Get temporary authorization by ID
      description: Returns a single temporary authorization for the client company.
      operationId: getTemporaryAuthorization
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: temporaryAuthorizationId
        in: path
        description: Temporary authorization ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Successfully retrieved
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetTemporaryAuthorizationResponse"
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetTemporaryAuthorizationResponse"
        "403":
          description: Access denied
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetTemporaryAuthorizationResponse"
        "404":
          description: Temporary authorization not found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetTemporaryAuthorizationResponse"
    delete:
      tags:
      - temporary-authorization-controller
      summary: Delete temporary authorization
      description: Soft-deletes a temporary authorization for the client company.
      operationId: deleteTemporaryAuthorization
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: temporaryAuthorizationId
        in: path
        description: Temporary authorization ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Successfully deleted
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access denied
          content: {}
        "404":
          description: Temporary authorization not found
          content: {}
    patch:
      tags:
      - temporary-authorization-controller
      summary: Update temporary authorization
      description: Updates an existing temporary authorization for the client company.
        Each resource in resourceIds is applied for each site in siteIds (Cartesian
        product).
      operationId: updateTemporaryAuthorization
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: temporaryAuthorizationId
        in: path
        description: Temporary authorization ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTemporaryAuthorizationDto"
        required: true
      responses:
        "204":
          description: Successfully updated
          content: {}
        "400":
          description: "Invalid request (e.g. dateTo < dateFrom, empty siteIds or\
            \ resourceIds)"
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access denied
          content: {}
        "404":
          description: Temporary authorization not found
          content: {}
  /v1/users/me/companies:
    get:
      tags:
      - me-controller
      summary: Get current user's companies
      description: Retrieves the list of companies that the currently authenticated
        user has access to.
      operationId: meCompanies
      responses:
        "200":
          description: Successfully retrieved user's companies
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserCompanyInfo"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserCompanyInfo"
  /v1/companies/{id}/assigned-resources:
    get:
      tags:
      - company-controller
      summary: List assigned resources (as client)
      description: Retrieves paginated list of resources assigned to contracts where
        the company acts as client. Use this endpoint to obtain resource IDs for filtering
        in access-control endpoints.
      operationId: findAssignedResources
      parameters:
      - name: id
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search query to filter resources by name
        required: false
        schema:
          type: string
      - name: resourceId
        in: query
        description: Filter by a single resource ID. Combined with resourceIds using
          OR — the result is the union of both.
        required: false
        schema:
          type: string
          format: uuid
      - name: resourceType
        in: query
        description: "Filter by resource type (EMPLOYEE, VEHICLE, EQUIPMENT). Deprecated:\
          \ use resourceTypes instead. If both resourceType and resourceTypes are\
          \ provided, they are combined using OR."
        required: false
        schema:
          type: string
      - name: resourceTypes
        in: query
        description: "Filter by resource types (EMPLOYEE, VEHICLE, EQUIPMENT)"
        required: false
        schema:
          type: array
          items:
            type: string
      - name: contractorIds
        in: query
        description: Filter by specific contractor IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: resourceIds
        in: query
        description: Filter by multiple resource IDs. Combined with resourceId using
          OR — the result is the union of both.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved resources list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceBasicData"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceBasicData"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceBasicData"
  /v1/companies/{id}/assigned-resources/as-contractor:
    get:
      tags:
      - company-controller
      summary: List assigned resources (as contractor)
      description: Retrieves paginated list of resources assigned to contracts where
        the company acts as contractor. Use this endpoint to obtain resource IDs for
        filtering in access-control endpoints.
      operationId: findAssignedResourcesAsContractor
      parameters:
      - name: id
        in: path
        description: Contractor company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search query to filter resources by name
        required: false
        schema:
          type: string
      - name: resourceId
        in: query
        description: Filter by a single resource ID. Combined with resourceIds using
          OR — the result is the union of both.
        required: false
        schema:
          type: string
          format: uuid
      - name: resourceType
        in: query
        description: "Filter by resource type (EMPLOYEE, VEHICLE, EQUIPMENT). Deprecated:\
          \ use resourceTypes instead. If both resourceType and resourceTypes are\
          \ provided, they are combined using OR."
        required: false
        schema:
          type: string
      - name: resourceTypes
        in: query
        description: "Filter by resource types (EMPLOYEE, VEHICLE, EQUIPMENT)"
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companyScope
        in: query
        description: "Filter by subcontractor scope (MY_COMPANY, MY_SUBCONTRACTORS,\
          \ ALL)"
        required: false
        schema:
          type: string
          enum:
          - ALL
          - MY_COMPANY
          - MY_SUBCONTRACTORS
      - name: contractorIds
        in: query
        description: Filter by specific contractor IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: resourceIds
        in: query
        description: Filter by multiple resource IDs. Combined with resourceId using
          OR — the result is the union of both.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved resources list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceBasicData"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceBasicData"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceBasicData"
  /v1/companies/{id}/my-companies:
    get:
      tags:
      - company-controller
      summary: List related companies
      description: "\n            Retrieves paginated list of related companies (contractors\
        \ or clients).\n            Use this endpoint to obtain company IDs for filtering\
        \ in other endpoints.\n\n            **Allowed sort fields:**\n          \
        \  - `name` - Company name (default)\n            - `taxId` - Tax ID\n   \
        \         - `industry` - Industry key\n\n            **Sort format:** `?sort=field,direction`\
        \ (e.g., `?sort=name,asc`)\n            "
      operationId: findAllContractors
      parameters:
      - name: id
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: "Text search term, matched against company name, email, and tax\
          \ ID. Ignored when filterById is set."
        required: false
        schema:
          type: string
          description: "Text search term, matched against company name, email, and\
            \ tax ID. Ignored when filterById is set."
      - name: filterById
        in: query
        description: "When set, performs a point-lookup by ID and ignores the 'q'\
          \ search parameter."
        required: false
        schema:
          type: string
          format: uuid
          description: "When set, performs a point-lookup by ID and ignores the 'q'\
            \ search parameter."
      - name: filterByIds
        in: query
        description: "When set, performs a batch lookup by IDs. The 'q' search parameter\
          \ is ignored. If combined with filterById, filterById is ignored."
        required: false
        schema:
          type: array
          description: "When set, performs a batch lookup by IDs. The 'q' search parameter\
            \ is ignored. If combined with filterById, filterById is ignored."
          items:
            type: string
            format: uuid
            description: "When set, performs a batch lookup by IDs. The 'q' search\
              \ parameter is ignored. If combined with filterById, filterById is ignored."
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved companies list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
  /v1/companies/{id}/all-contractors:
    get:
      tags:
      - company-controller
      summary: List related companies
      description: "\n            Retrieves paginated list of related companies (contractors\
        \ or clients).\n            Use this endpoint to obtain company IDs for filtering\
        \ in other endpoints.\n\n            **Allowed sort fields:**\n          \
        \  - `name` - Company name (default)\n            - `taxId` - Tax ID\n   \
        \         - `industry` - Industry key\n\n            **Sort format:** `?sort=field,direction`\
        \ (e.g., `?sort=name,asc`)\n            "
      operationId: findAllContractors_1
      parameters:
      - name: id
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: "Text search term, matched against company name, email, and tax\
          \ ID. Ignored when filterById is set."
        required: false
        schema:
          type: string
          description: "Text search term, matched against company name, email, and\
            \ tax ID. Ignored when filterById is set."
      - name: filterById
        in: query
        description: "When set, performs a point-lookup by ID and ignores the 'q'\
          \ search parameter."
        required: false
        schema:
          type: string
          format: uuid
          description: "When set, performs a point-lookup by ID and ignores the 'q'\
            \ search parameter."
      - name: filterByIds
        in: query
        description: "When set, performs a batch lookup by IDs. The 'q' search parameter\
          \ is ignored. If combined with filterById, filterById is ignored."
        required: false
        schema:
          type: array
          description: "When set, performs a batch lookup by IDs. The 'q' search parameter\
            \ is ignored. If combined with filterById, filterById is ignored."
          items:
            type: string
            format: uuid
            description: "When set, performs a batch lookup by IDs. The 'q' search\
              \ parameter is ignored. If combined with filterById, filterById is ignored."
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved companies list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
  /v1/companies/{contractorId}/clients:
    get:
      tags:
      - company-controller
      summary: List client companies
      description: Retrieves paginated list of client companies for a contractor.
        Use this endpoint to obtain client IDs for filtering in access-control endpoints.
      operationId: findClients
      parameters:
      - name: contractorId
        in: path
        description: Contractor company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search query to filter clients by name
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved clients list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelCompanyClientData"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelCompanyClientData"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelCompanyClientData"
  /v1/companies/{companyId}/visitor/temporary-upload-url:
    get:
      tags:
      - visitor-controller
      operationId: getTemporaryUploadURL
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: contentType
        in: query
        required: true
        schema:
          type: string
      - name: fileName
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties: {}
  /v1/companies/{companyId}/visitor/plate-numbers:
    get:
      tags:
      - visitor-controller
      operationId: getVisitorsPlateNumbers
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: selected
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseString"
  /v1/companies/{companyId}/visitor/companies:
    get:
      tags:
      - visitor-controller
      operationId: getVisitorsCompanies
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: selected
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetDistinctCompaniesResponse"
  /v1/companies/{companyId}/contractors/{contractorId}/access-control/{type}/{resourceId}:
    get:
      tags:
      - access-card-controller
      operationId: generateAccessCardPdf
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: contractorId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - PDF
          - PNG
      - name: resourceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
  /v1/companies/{companyId}/access-register/{accessRecordId}:
    get:
      tags:
      - access-register-controller
      operationId: getAccessRegisterRecordById
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: accessRecordId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetAccessRegisterResponse"
  /v1/companies/{companyId}/access-control/{id}:
    get:
      tags:
      - access-control-controller
      summary: Get access control status by resource
      description: "Retrieves detailed access control status for a specific resource.\
        \ The resource ID is a composite identifier in the format '{resourceId}-{siteId}'.\
        \ Subcontractor data is included if the user has permission."
      operationId: getAccessControlStatusByResource
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        description: "Composite resource identifier in format '{resourceId}-{siteId}'"
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieved access control status
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetResourceAccessControlResponse"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetResourceAccessControlResponse"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetResourceAccessControlResponse"
        "404":
          description: Resource not found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetResourceAccessControlResponse"
        "500":
          description: Internal server error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetResourceAccessControlResponse"
  /v1/companies/{companyId}/access-control/temporary-authorizations/names:
    get:
      tags:
      - temporary-authorization-controller
      summary: Search authorization names
      description: "Returns authorization groups matching the search term, for use\
        \ in filter dropdowns. Multiple groups may share the same name."
      operationId: getTemporaryAuthorizationNames
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search term (partial name match)
        required: false
        schema:
          type: string
      - name: ids
        in: query
        description: Return specific authorization IDs regardless of search term
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetTemporaryAuthorizationNameItem"
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetTemporaryAuthorizationNameItem"
        "403":
          description: Access denied
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetTemporaryAuthorizationNameItem"
  /v1/companies/{companyId}/access-control/as-contractor:
    get:
      tags:
      - access-control-controller
      summary: Get access control status by contractor
      description: "\n            Retrieves paginated access control statuses for\
        \ resources when the company acts as a contractor.\n            Results are\
        \ filtered based on the user's client company and site visibility.\n     \
        \       Subcontractor filtering (companyScope and contractorIds).\n\n    \
        \        **Allowed sort fields:**\n            - `client_name` - Client company\
        \ name\n            - `contractor_name` - Contractor company name\n      \
        \      - `resource_name` - Resource name (employee, vehicle, or equipment)\n\
        \            - `site_name` - Site name (default)\n            - `end_of_access`\
        \ - End of access date\n\n            **Sort format:** `?sort=field,direction`\
        \ (e.g., `?sort=site_name,asc`)\n            "
      operationId: getAccessControlStatusByContractor
      parameters:
      - name: companyId
        in: path
        description: Company ID acting as contractor
        required: true
        schema:
          type: string
          format: uuid
      - name: clientId
        in: query
        description: "Filter by client ID. Results are automatically filtered based\
          \ on user's client company visibility. Obtain client IDs from [GET /v1/companies/{contractorId}/clients](#tag/company-controller/GET/v1/companies/{contractorId}/clients)"
        required: false
        schema:
          type: string
          format: uuid
      - name: siteId
        in: query
        description: "Filter by site ID. Results are automatically filtered based\
          \ on user's client site visibility. Obtain site IDs from [GET /v1/companies/{companyId}/sites](#tag/site-controller/GET/v1/companies/{companyId}/sites)"
        required: false
        schema:
          type: string
          format: uuid
      - name: resourceType
        in: query
        description: "Filter by resource type (EMPLOYEE, EQUIPMENT, VEHICLE)"
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: "Filter by status (ALLOWED, NOT_ALLOWED)"
        required: false
        schema:
          type: string
      - name: resourceId
        in: query
        description: Filter by specific resource ID. Obtain resource IDs from the
          response of access-control endpoints (resource.id field)
        required: false
        schema:
          type: string
          format: uuid
      - name: companyScope
        in: query
        description: "Filter by subcontractor scope (ALL, MY_COMPANY, MY_SUBCONTRACTORS)."
        required: false
        schema:
          type: string
          enum:
          - ALL
          - MY_COMPANY
          - MY_SUBCONTRACTORS
      - name: contractorIds
        in: query
        description: Filter by specific contractor IDs. Obtain contractor IDs from
          the response of access-control endpoints (contractor.id field)
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: onlyExpiringInFifteenDays
        in: query
        description: "When true, only show resources with access ending within the\
          \ next 15 days"
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "site_name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved access control statuses
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessControlResponse"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessControlResponse"
        "403":
          description: "Access denied: insufficient permissions. This may occur when\
            \ attempting to use subcontractor filters without proper permissions."
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessControlResponse"
        "500":
          description: Internal server error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessControlResponse"
  /v1/companies/{companyId}/access-control/as-client:
    get:
      tags:
      - access-control-controller
      summary: Get access control status by client
      description: "\n            Retrieves paginated access control statuses for\
        \ resources when the company acts as a client.\n            Results are filtered\
        \ based on the user's site visibility and can be further filtered by contractor,\
        \ site, resource type, status, and resource ID.\n\n            **Allowed sort\
        \ fields:**\n            - `site_name` - Site name (default)\n           \
        \ - `contractor_name` - Contractor company name\n            - `resource_name`\
        \ - Resource name (employee, vehicle, or equipment)\n            - `end_of_access`\
        \ - End of access date\n\n            **Sort format:** `?sort=field,direction`\
        \ (e.g., `?sort=site_name,asc`)\n            "
      operationId: getAccessControlStatusByClient
      parameters:
      - name: companyId
        in: path
        description: Company ID acting as client
        required: true
        schema:
          type: string
          format: uuid
      - name: contractorId
        in: query
        description: Filter by contractor ID. Obtain contractor IDs from the response
          of access-control endpoints (contractor.id field)
        required: false
        schema:
          type: string
          format: uuid
      - name: siteId
        in: query
        description: "Filter by site ID. Results are automatically filtered based\
          \ on user's site visibility. Obtain site IDs from [GET /v1/companies/{companyId}/sites](#tag/site-controller/GET/v1/companies/{companyId}/sites)"
        required: false
        schema:
          type: string
          format: uuid
      - name: resourceType
        in: query
        description: "Filter by resource type (EMPLOYEE, EQUIPMENT, VEHICLE)"
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: "Filter by status (ALLOWED, NOT_ALLOWED)"
        required: false
        schema:
          type: string
      - name: resourceId
        in: query
        description: Filter by specific resource ID. Obtain resource IDs from the
          response of access-control endpoints (resource.id field)
        required: false
        schema:
          type: string
          format: uuid
      - name: onlyExpiringInFifteenDays
        in: query
        description: "When true, only show resources with access ending within the\
          \ next 15 days"
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "site_name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved access control statuses
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessControlResponse"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessControlResponse"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessControlResponse"
        "500":
          description: Internal server error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessControlResponse"
components:
  schemas:
    CreateVisitorDto:
      type: object
      properties:
        visitorName:
          type: string
          minLength: 1
        visitorSurname:
          type: string
          minLength: 1
        visitorIdentityType:
          type: string
          minLength: 1
        visitorIdentity:
          type: string
          minLength: 1
        visitorEmail:
          type: string
          format: email
        visitorPlateNumber:
          type: string
          pattern: .*\S.*
        companyName:
          type: string
          minLength: 1
        companyTaxId:
          type: string
          minLength: 1
        files:
          type: array
          items:
            type: string
      required:
      - companyName
      - companyTaxId
      - visitorIdentity
      - visitorIdentityType
      - visitorName
      - visitorSurname
    IdValue:
      type: object
      properties:
        id:
          type: string
          format: uuid
      required:
      - id
    CreateVisitDto:
      type: object
      properties:
        siteId:
          type: string
          format: uuid
        visitorId:
          type: string
          format: uuid
        visitedPerson:
          type: string
          minLength: 1
        entryAt:
          type: string
          format: date-time
        entryReason:
          type: string
          minLength: 1
        entryNotes:
          type: string
        entryOrigin:
          type: string
          description: Origin of the visit entry registration. Indicates where the
            entry was recorded (e.g. web portal or mobile app). Optional; defaults
            to WEB when omitted.
          enum:
          - WEB
          - APP
          example: WEB
      required:
      - entryAt
      - entryReason
      - siteId
      - visitedPerson
      - visitorId
    CreateVehicleDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        registrationPlate:
          type: string
          minLength: 1
        vehicleType:
          type: string
          format: uuid
        manufacturer:
          type: string
        model:
          type: string
        tareWeight:
          type: integer
          format: int32
        photo:
          type: string
        classifications:
          type: array
          items:
            $ref: "#/components/schemas/ResourceCreateClassificationDto"
          uniqueItems: true
      required:
      - classifications
      - name
      - registrationPlate
    ResourceCreateClassificationDto:
      type: object
      properties:
        clientId:
          type: string
          format: uuid
        clientResourceTypeId:
          type: string
          format: uuid
      required:
      - clientId
      - clientResourceTypeId
    CreateSiteDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        phonePrefix:
          type: string
        phone:
          type: string
        photo:
          type: string
        address:
          $ref: "#/components/schemas/SiteAddressDto"
        parentId:
          type: string
          format: uuid
        childrenIds:
          type: array
          items:
            type: string
            format: uuid
        level:
          type: string
          enum:
          - BUSINESS
          - SITE_GROUP
          - SITE
          - ZONE
          - AREA
      required:
      - name
    SiteAddressDto:
      type: object
      properties:
        street:
          type: string
        city:
          type: string
        state:
          type: string
        county:
          type: string
        postalCode:
          type: string
        country:
          type: string
    CreateEquipmentDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        serialNumber:
          type: string
          minLength: 1
        equipmentType:
          type: string
          format: uuid
        manufacturer:
          type: string
        model:
          type: string
        photo:
          type: string
        classifications:
          type: array
          items:
            $ref: "#/components/schemas/ResourceCreateClassificationDto"
          uniqueItems: true
      required:
      - classifications
      - name
      - serialNumber
    CreateEmployeeDto:
      type: object
      properties:
        firstName:
          type: string
          minLength: 1
        lastName:
          type: string
          minLength: 1
        identityType:
          type: string
          minLength: 1
        identity:
          type: string
          minLength: 1
        countryId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        phonePrefix:
          type: string
        phone:
          type: string
        photo:
          type: string
        classifications:
          type: array
          items:
            $ref: "#/components/schemas/ResourceCreateClassificationDto"
          uniqueItems: true
      required:
      - classifications
      - countryId
      - firstName
      - identity
      - identityType
      - lastName
    RegisterDto:
      type: object
      properties:
        companyId:
          type: string
          format: uuid
        resourceId:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        origin:
          type: string
          enum:
          - WEB
          - APP
          - APP_LOCAL
          - MANUAL
          - MOBILE
          - QR_CODE
          - NFC
          - FACE_RECOGNITION
          - KIOSK
          - LEGACY_IMPORT
        entryNotes:
          type: string
        entryAt:
          type: string
          format: date-time
        closeOpenEntries:
          type: boolean
      required:
      - closeOpenEntries
      - companyId
      - entryAt
      - origin
      - resourceId
      - siteId
    CreateTemporaryAuthorizationDto:
      type: object
      properties:
        dateFrom:
          type: string
          format: date
        dateTo:
          type: string
          format: date
        reason:
          type: string
          maxLength: 1000
          minLength: 0
        status:
          type: string
        contractorId:
          type: string
          format: uuid
        siteIds:
          type: array
          items:
            type: string
            format: uuid
        resourceIds:
          type: array
          items:
            type: string
            format: uuid
        name:
          type: string
          maxLength: 100
          minLength: 0
      required:
      - contractorId
      - dateFrom
      - dateTo
      - name
      - resourceIds
      - siteIds
      - status
    UpdateUserDto:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        languageId:
          type: string
          format: uuid
        photo:
          type: string
    UpdateVisitExitDto:
      type: object
      properties:
        exitAt:
          type: string
          format: date-time
        exitNotes:
          type: string
        exitOrigin:
          type: string
          description: Origin of the visit exit registration. Indicates where the
            exit was recorded (e.g. web portal or mobile app). Optional; defaults
            to WEB when omitted.
          enum:
          - WEB
          - APP
          example: WEB
      required:
      - exitAt
    UpdateNotesDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        origin:
          type: string
          enum:
          - WEB
          - APP
          - APP_LOCAL
          - MANUAL
          - MOBILE
          - QR_CODE
          - NFC
          - FACE_RECOGNITION
          - KIOSK
          - LEGACY_IMPORT
        exitNotes:
          type: string
        exitAt:
          type: string
          format: date-time
      required:
      - companyId
      - exitAt
      - id
      - origin
    UpdateTemporaryAuthorizationDto:
      type: object
      properties:
        dateFrom:
          type: string
          format: date
        dateTo:
          type: string
          format: date
        reason:
          type: string
          maxLength: 1000
          minLength: 0
        status:
          type: string
        contractorId:
          type: string
          format: uuid
        siteIds:
          type: array
          items:
            type: string
            format: uuid
        resourceIds:
          type: array
          items:
            type: string
            format: uuid
        name:
          type: string
          maxLength: 100
          minLength: 0
        authorizedBy:
          type: string
          minLength: 1
      required:
      - authorizedBy
      - contractorId
      - dateFrom
      - dateTo
      - name
      - resourceIds
      - siteIds
      - status
    AccessControlApiConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
      - type: object
        properties:
          apiKeySet:
            type: array
            items:
              $ref: "#/components/schemas/ApiKeyDetails"
            uniqueItems: true
      required:
      - apiKeySet
    ApiKeyDetails:
      type: object
      properties:
        displayName:
          type: string
        internalName:
          type: string
        name:
          type: string
          writeOnly: true
        publicApiKey:
          type: string
      required:
      - displayName
      - internalName
      - publicApiKey
    AutomaticReviewConfig:
      type: object
      properties:
        useSamePrice:
          type: boolean
        genericPrice:
          type: number
        genericCurrencyId:
          type: string
          format: uuid
        requirementPrices:
          type: array
          items:
            $ref: "#/components/schemas/RequirementReviewConfig"
      required:
      - genericCurrencyId
      - genericPrice
      - useSamePrice
    BackupConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
    ClientPlanConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
      - type: object
        properties:
          plan:
            type: string
          maxSites:
            type: integer
            format: int32
          maxConnections:
            type: integer
            format: int32
    ContractorPlanConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
      - type: object
        properties:
          plan:
            type: string
            enum:
            - PLAN_0
            - PLAN_1
            - PLAN_2
            - PLAN_3
          maxNumberOfEmployees:
            type: integer
            format: int32
          trials:
            type: array
            items:
              $ref: "#/components/schemas/ContractorPlanTrial"
          effectivePlan:
            type: string
            enum:
            - PLAN_0
            - PLAN_1
            - PLAN_2
            - PLAN_3
      required:
      - effectivePlan
      - plan
      - trials
    ContractorPlanTrial:
      type: object
      properties:
        plan:
          type: string
          enum:
          - PLAN_0
          - PLAN_1
          - PLAN_2
          - PLAN_3
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
      required:
      - endDate
      - plan
      - startDate
    DocumentalManagementConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
      - type: object
        properties:
          automatic:
            $ref: "#/components/schemas/AutomaticReviewConfig"
          standard:
            $ref: "#/components/schemas/ReviewConfig"
          custom:
            $ref: "#/components/schemas/ReviewConfig"
      required:
      - automatic
      - custom
      - standard
    EUCategoryConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
      - type: object
        properties:
          maxConnections:
            type: integer
            format: int32
    EmployeeTypeConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
    InternalManagementConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
    Language:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        code:
          type: string
      required:
      - code
      - id
      - name
    LevelConfig:
      type: object
      properties:
        level:
          type: integer
          format: int32
        enabled:
          type: boolean
        maxInstances:
          type: integer
          format: int32
        customName:
          type: string
      required:
      - enabled
      - level
    MobileAppConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
    MobileSettings:
      type: object
      description: Mobile-specific user preferences
      properties:
        unattendedMode:
          type: boolean
          description: "When true, enables unattended mode on mobile"
        visitsEnabled:
          type: boolean
          description: "When true, shows visits section in the app. Null means visits\
            \ are enabled (default behavior)."
    ProductInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        config:
          oneOf:
          - $ref: "#/components/schemas/AccessControlApiConfig"
          - $ref: "#/components/schemas/BackupConfig"
          - $ref: "#/components/schemas/ClientPlanConfig"
          - $ref: "#/components/schemas/ContractorPlanConfig"
          - $ref: "#/components/schemas/DocumentalManagementConfig"
          - $ref: "#/components/schemas/EUCategoryConfig"
          - $ref: "#/components/schemas/EmployeeTypeConfig"
          - $ref: "#/components/schemas/InternalManagementConfig"
          - $ref: "#/components/schemas/MobileAppConfig"
          - $ref: "#/components/schemas/SiteHierarchyConfig"
          - $ref: "#/components/schemas/SsoConfig"
          - $ref: "#/components/schemas/WorkPermitsConfig"
      required:
      - config
      - id
      - name
    ProductTypeConfig:
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
      - type
    RequirementReviewConfig:
      type: object
      properties:
        requirementId:
          type: string
          format: uuid
        price:
          type: number
        currencyId:
          type: string
          format: uuid
        critical:
          type: boolean
          readOnly: true
        documentType:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        subjectType:
          type: string
          readOnly: true
      required:
      - requirementId
    ReviewConfig:
      type: object
      properties:
        useSamePrice:
          type: boolean
        approvalPrice:
          type: number
        approvalCurrencyId:
          type: string
          format: uuid
        rejectionPrice:
          type: number
        rejectionCurrencyId:
          type: string
          format: uuid
      required:
      - approvalCurrencyId
      - approvalPrice
      - rejectionCurrencyId
      - rejectionPrice
      - useSamePrice
    RoleData:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
      required:
      - id
      - name
    SiteHierarchyConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
      - type: object
        properties:
          levels:
            type: array
            items:
              $ref: "#/components/schemas/LevelConfig"
      required:
      - levels
    SsoConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
    UserCompanyInfo:
      type: object
      properties:
        companyId:
          type: string
          format: uuid
        companyName:
          type: string
        taxId:
          type: string
        logo:
          type: string
        products:
          type: array
          items:
            $ref: "#/components/schemas/ProductInfo"
        invitationId:
          type: string
          format: uuid
        userJourneys:
          $ref: "#/components/schemas/UserJourneys"
      required:
      - companyId
      - companyName
      - products
      - taxId
    UserCompanyPermissions:
      type: object
      properties:
        company:
          $ref: "#/components/schemas/UserCompanyInfo"
        userPermission:
          $ref: "#/components/schemas/UserPermissionsRoles"
        resourceVisibility:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
              format: uuid
            uniqueItems: true
      required:
      - company
      - userPermission
    UserDetails:
      type: object
      description: "Current user information including profile, permissions, company\
        \ associations and user settings"
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        photo:
          type: string
        language:
          $ref: "#/components/schemas/Language"
        companiesPermissions:
          type: array
          items:
            $ref: "#/components/schemas/UserCompanyPermissions"
        globalPermissions:
          $ref: "#/components/schemas/UserPermissionsRoles"
        createdAt:
          type: string
          format: date-time
        lastSignIn:
          type: string
          format: date-time
        userSettings:
          $ref: "#/components/schemas/UserSettings"
          description: User preferences and settings (e.g. mobile unattended mode)
      required:
      - companiesPermissions
      - createdAt
      - email
      - firstName
      - globalPermissions
      - id
      - language
      - lastName
      - userSettings
    UserJourneys:
      type: object
      properties:
        shouldCompleteCompanyOnboarding:
          type: boolean
        shouldCompleteUserOnboarding:
          type: boolean
        marketingConsent:
          type: boolean
      required:
      - shouldCompleteCompanyOnboarding
      - shouldCompleteUserOnboarding
    UserPermissionsRoles:
      type: object
      properties:
        permissions:
          type: array
          items:
            type: string
        roles:
          type: array
          items:
            $ref: "#/components/schemas/RoleData"
      required:
      - permissions
      - roles
    UserSettings:
      type: object
      description: User preferences and settings stored as JSON
      properties:
        mobileSettings:
          $ref: "#/components/schemas/MobileSettings"
          description: Settings for the mobile app
    WorkPermitsConfig:
      allOf:
      - $ref: "#/components/schemas/ProductTypeConfig"
    PageMetadata:
      type: object
      properties:
        size:
          type: integer
          format: int64
        number:
          type: integer
          format: int64
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int64
    PagedModelResourceBasicData:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/ResourceBasicData"
        page:
          $ref: "#/components/schemas/PageMetadata"
    ResourceBasicData:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        resourceType:
          type: string
          enum:
          - EMPLOYEE
          - VEHICLE
          - EQUIPMENT
      required:
      - id
      - name
      - resourceType
    MyCompanyDataDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        taxId:
          type: string
        email:
          type: string
        invitationId:
          type: string
          format: uuid
        euCategory:
          type: string
        industry:
          type: string
        industryKey:
          type: string
      required:
      - id
      - name
      - taxId
    PagedModelMyCompanyDataDto:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/MyCompanyDataDto"
        page:
          $ref: "#/components/schemas/PageMetadata"
    CompanyClientData:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        taxId:
          type: string
      required:
      - id
      - name
      - taxId
    PagedModelCompanyClientData:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/CompanyClientData"
        page:
          $ref: "#/components/schemas/PageMetadata"
    GetDistinctVisitorsResponse:
      type: object
      properties:
        visitorId:
          type: string
          format: uuid
        identity:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        companyTaxId:
          type: string
      required:
      - companyName
      - companyTaxId
      - firstName
      - identity
      - lastName
      - visitorId
    PageData:
      type: object
      properties:
        size:
          type: integer
          format: int64
        number:
          type: integer
          format: int64
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int64
      required:
      - number
      - size
      - totalElements
      - totalPages
    PageResponseGetDistinctVisitorsResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/GetDistinctVisitorsResponse"
        page:
          $ref: "#/components/schemas/PageData"
      required:
      - content
      - page
    GetVisitorResponse:
      type: object
      properties:
        visitorId:
          type: string
          format: uuid
        visitorFirstName:
          type: string
        visitorLastName:
          type: string
        visitorIdentityType:
          type: string
        visitorIdentity:
          type: string
        email:
          type: string
        companyName:
          type: string
        companyTaxId:
          type: string
        plateNumber:
          type: string
        files:
          type: array
          items:
            type: string
      required:
      - companyName
      - companyTaxId
      - files
      - visitorFirstName
      - visitorId
      - visitorIdentity
      - visitorIdentityType
      - visitorLastName
    PageResponseString:
      type: object
      properties:
        content:
          type: array
          items:
            type: string
        page:
          $ref: "#/components/schemas/PageData"
      required:
      - content
      - page
    GetDistinctCompaniesResponse:
      type: object
      properties:
        taxId:
          type: string
        name:
          type: string
      required:
      - name
      - taxId
    PageResponseGetDistinctCompaniesResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/GetDistinctCompaniesResponse"
        page:
          $ref: "#/components/schemas/PageData"
      required:
      - content
      - page
    CompanyResponse:
      type: object
      properties:
        name:
          type: string
        taxId:
          type: string
      required:
      - name
      - taxId
    GetCompanyVisitsResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        visitor:
          $ref: "#/components/schemas/Visitor"
        company:
          $ref: "#/components/schemas/CompanyResponse"
        site:
          $ref: "#/components/schemas/Site"
        reason:
          type: string
        visitedPerson:
          type: string
        entry:
          $ref: "#/components/schemas/VisitMovement"
        exit:
          $ref: "#/components/schemas/VisitMovement"
        timeOnSite:
          $ref: "#/components/schemas/TimeOnSite"
      required:
      - company
      - entry
      - id
      - reason
      - site
      - visitedPerson
      - visitor
    PageResponseGetCompanyVisitsResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/GetCompanyVisitsResponse"
        page:
          $ref: "#/components/schemas/PageData"
      required:
      - content
      - page
    Site:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
      required:
      - id
      - name
    TimeOnSite:
      type: object
      properties:
        hours:
          type: integer
          format: int64
        minutes:
          type: integer
          format: int64
        seconds:
          type: integer
          format: int64
        time:
          type: string
      required:
      - hours
      - minutes
      - seconds
      - time
    VisitMovement:
      type: object
      properties:
        at:
          type: string
          format: date-time
        registeredByFirstName:
          type: string
        registeredByLastName:
          type: string
        registeredByEmail:
          type: string
        notes:
          type: string
        origin:
          type: string
          enum:
          - WEB
          - APP
        registeredByFullName:
          type: string
      required:
      - at
      - registeredByFirstName
      - registeredByFullName
      - registeredByLastName
    Visitor:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        identityType:
          type: string
        idNumber:
          type: string
        plateNumber:
          type: string
        files:
          type: array
          items:
            type: string
        fileNames:
          type: array
          items:
            type: string
        email:
          type: string
      required:
      - firstName
      - idNumber
      - identityType
      - lastName
    GetVisitDetailsResponse:
      type: object
      properties:
        visitorFirstName:
          type: string
        visitorLastName:
          type: string
        visitorIdentityType:
          type: string
        visitorIdentity:
          type: string
        email:
          type: string
        companyName:
          type: string
        companyTaxId:
          type: string
        plateNumber:
          type: string
        visitedPerson:
          type: string
        siteName:
          type: string
        entry:
          $ref: "#/components/schemas/VisitMovement"
        exit:
          $ref: "#/components/schemas/VisitMovement"
        reason:
          type: string
        files:
          type: array
          items:
            type: string
      required:
      - companyName
      - companyTaxId
      - entry
      - files
      - reason
      - siteName
      - visitedPerson
      - visitorFirstName
      - visitorIdentity
      - visitorIdentityType
      - visitorLastName
    PagedModelVehicleResponseDto:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/VehicleResponseDto"
        page:
          $ref: "#/components/schemas/PageMetadata"
    ResourceClassificationDto:
      type: object
      properties:
        clientId:
          type: string
          format: uuid
        clientResourceTypeId:
          type: string
          format: uuid
        name:
          type: string
      required:
      - clientId
      - clientResourceTypeId
      - name
    ResourceStandardClassificationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
      required:
      - id
      - name
    VehicleResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        name:
          type: string
        registrationPlate:
          type: string
        vehicleType:
          $ref: "#/components/schemas/ResourceStandardClassificationDto"
        manufacturer:
          type: string
        model:
          type: string
        tareWeight:
          type: integer
          format: int32
        photo:
          type: string
        classifications:
          type: array
          items:
            $ref: "#/components/schemas/ResourceClassificationDto"
          uniqueItems: true
        createdAt:
          type: string
        isAssignable:
          type: boolean
      required:
      - classifications
      - companyId
      - createdAt
      - id
      - isAssignable
      - name
      - registrationPlate
    PagedModelSiteDto:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/SiteDto"
        page:
[...]
