openapi: 3.1.0
info:
  title: Public API
  description: |-
    API for external systems to integrate with Twind using public API keys.
    Additional products may extend this document over time.

    ## Authentication

    Use the `X-Api-Key` header with your public API key.
  contact:
    name: Twind Support
    email: support@twind.com
  version: "1.0"
servers:
- url: https://app.twind.io/api
  description: Production server
tags:
- name: Shared
  description: |-
    Shared endpoints for who is calling the API, which companies apply, and common lists used to filter other operations.

    - **Me**: Current user and permissions for the API key
    - **User companies**: Companies visible to the authenticated user
    - **My companies**: Related companies (contractors/clients) for a company
    - **Countries**: List countries
    - **Sites**: List sites for a company
    - **Activities**: List company activities
    - **Assigned resources**: Resources assigned to contracts (client view)
    - **Assigned resources (contractor)**: Resources assigned to contracts (contractor view)
    - **Clients**: Client companies for a contractor
    - **Users**: List users for a company
    - **Employees**: List employees for a company
    - **Vehicles**: List vehicles for a company
    - **Equipment**: List equipment for a company
    - **Contracts (as contractor)**: List contracts where the company acts as contractor
    - **Contract engagements**: List engagements for a contract
- name: Access control
  description: |-
    Track people and assets on site: register access and visits, query authorization status, and issue access cards.

    - **Visitors**: List, create, read, and update visitor records; presigned upload URL; plate numbers and visitor companies
    - **Visit register**: List and create visits; read and update a visit record
    - **Access register**: List and create access entries; record exit; read entry by id
    - **Access control (status)**: Read access control row by id; list as contractor or as client
    - **Access card**: Download access card file (PDF or PNG) for a resource
    - **Temporary authorizations**: List, create, read, update, and delete; search names and authorizers
    - **All contractors**: List all contractors for a company
- name: Requirements
  description: |-
    Configure contract requirements, inspect requirement instances, and submit or review evidence against them.

    - **Requirement (detail)**: Get and update a requirement configuration
    - **Requirements (list)**: List and create requirements
    - **Requirement template upload**: Presigned URL to upload a requirement template file
    - **Requirement stats**: Statistics for a requirement
    - **Requirement enable/disable**: Enable or disable a requirement for a company
    - **Requirement instance**: Get a requirement instance
    - **Requirement instance logs**: List change logs for an instance
    - **Eligible resources**: List resources eligible for an instance
    - **Requirement instances (contractor)**: List instances and contractor requirement index
    - **Requirement instances (client)**: List instances for the client company
    - **Evidence file upload URL**: Presigned URL for evidence file upload
    - **Evidence agreement**: Submit agreement-type evidence
    - **Evidence (read/update)**: Get or update an evidence record
    - **Evidence approve**: Approve evidence
    - **Evidence reject**: Reject evidence
    - **Evidence matching**: Match submitted evidence to requirement instances
- name: Companies and contracts
  description: |-
    Manage company profile, sites, commercial relationships, contracts, engagements, and subcontracts.

    - **Company summary**: Read and patch company summary
    - **Contractors**: Create contractors; list contractors with active contracts (my-contractors)
    - **Child subcontractors**: List child subcontractor companies
    - **Sites**: Create a site; read or update a site; list sites as contractor
    - **Contracts**: Create, update, and soft-delete contracts; list with-contractors filter
    - **Contract engagements**: Create engagements for a contract; soft-delete engagement
    - **Subcontracts**: Create subcontracts; subcontract requests (list, create, approve, reject); list as contractor; read by engagement
paths:
  /v1/users/me:
    get:
      tags:
      - Shared
      summary: Get current user information
      description: "Retrieves detailed information about the currently authenticated\
        \ user, including their profile, permissions, company associations and userSettings\
        \ (e.g. mobile unattended mode)."
      operationId: me
      parameters:
      - name: companyId
        in: query
        description: Optional company ID to get permissions for (only applicable for
          Global Admins)
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Successfully retrieved user information
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserDetails"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserDetails"
  /v1/users/me/companies:
    get:
      tags:
      - Shared
      summary: Get current user's companies
      description: Retrieves the list of companies that the currently authenticated
        user has access to.
      operationId: meCompanies
      responses:
        "200":
          description: Successfully retrieved user's companies
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserCompanyInfo"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserCompanyInfo"
  /v1/companies/{id}/my-companies:
    get:
      tags:
      - Shared
      summary: List related companies
      description: "Retrieves paginated list of related companies (contractors or\
        \ clients). Use this endpoint to obtain company IDs for filtering in other\
        \ endpoints. **Allowed sort fields:** `name` (company name, default); `taxId`\
        \ (tax ID); `industry` (industry key); `email` (company email). **Sort format:**\
        \ `?sort=field,direction` (e.g. `?sort=name,asc`)."
      operationId: findAllContractors
      parameters:
      - name: id
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: "Text search term, matched against company name, email, and tax\
          \ ID. Ignored when filterById is set."
        required: false
        schema:
          type: string
          description: "Text search term, matched against company name, email, and\
            \ tax ID. Ignored when filterById is set."
      - name: filterById
        in: query
        description: "When set, performs a point-lookup by ID and ignores the 'q'\
          \ search parameter."
        required: false
        schema:
          type: string
          format: uuid
          description: "When set, performs a point-lookup by ID and ignores the 'q'\
            \ search parameter."
      - name: filterByIds
        in: query
        description: "When set, performs a batch lookup by IDs. The 'q' search parameter\
          \ is ignored. If combined with filterById, filterById is ignored."
        required: false
        schema:
          type: array
          description: "When set, performs a batch lookup by IDs. The 'q' search parameter\
            \ is ignored. If combined with filterById, filterById is ignored."
          items:
            type: string
            format: uuid
            description: "When set, performs a batch lookup by IDs. The 'q' search\
              \ parameter is ignored. If combined with filterById, filterById is ignored."
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved companies list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
  /v1/countries:
    get:
      tags:
      - Shared
      summary: List countries
      description: Paginated countries catalog. Filter by partial **name** match.
      operationId: findAll_6
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved countries
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelSystemCountry"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/activities:
    get:
      tags:
      - Shared
      summary: List client activities
      description: "Returns a paginated list of activities defined for the company\
        \ (client configuration). **Sort format:** `sort=name,asc` (default: name\
        \ ascending)."
      operationId: findAll_5
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: selected
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Paged activities
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelActivityDto"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{id}/assigned-resources:
    get:
      tags:
      - Shared
      summary: List assigned resources (as client)
      description: "Retrieves a paginated list of resources (employees, vehicles,\
        \ equipment) assigned to contracts where the company acts as client. The result\
        \ covers the whole contract tree: direct contractors and any subcontractors\
        \ they have engaged, because subcontracts inherit the head client's id. One\
        \ row per resource. Use this endpoint to obtain resource ids for filtering\
        \ in access-control endpoints or when a lightweight listing is enough. Max\
        \ page size: 100."
      operationId: findAssignedResources
      parameters:
      - name: id
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search query to filter resources by name
        required: false
        schema:
          type: string
      - name: resourceId
        in: query
        description: Filter by a single resource ID. Combined with resourceIds using
          OR — the result is the union of both.
        required: false
        schema:
          type: string
          format: uuid
      - name: resourceType
        in: query
        description: "Filter by resource type (EMPLOYEE, VEHICLE, EQUIPMENT). Deprecated:\
          \ use resourceTypes instead. If both resourceType and resourceTypes are\
          \ provided, they are combined using OR."
        required: false
        schema:
          type: string
      - name: resourceTypes
        in: query
        description: "Filter by resource types (EMPLOYEE, VEHICLE, EQUIPMENT)"
        required: false
        schema:
          type: array
          items:
            type: string
      - name: contractorIds
        in: query
        description: Filter by specific contractor IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: resourceIds
        in: query
        description: Filter by multiple resource IDs. Combined with resourceId using
          OR — the result is the union of both.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved resources list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceBasicData"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceBasicData"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceBasicData"
  /v1/companies/{id}/assigned-resources-detailed:
    get:
      tags:
      - Shared
      summary: List assigned resources with detailed information (as client)
      description: "Retrieves a paginated list of resources assigned to contracts\
        \ where the company acts as client. Each resource carries its per-resource\
        \ attributes (employee identity, vehicle plate, equipment serial, etc.) plus\
        \ an 'engagements' array describing every (contract, site, activity) where\
        \ that resource is currently deployed. For EMPLOYEE resources, each engagement\
        \ also lists the risks assigned on that specific assignment. Pagination is\
        \ per resource — a resource deployed on N engagements is one page entry with\
        \ N items in 'engagements'. The result covers the whole contract tree including\
        \ subcontractors, because subcontracts inherit the head client's id. Max page\
        \ size: 100."
      operationId: findAssignedDetailedResources
      parameters:
      - name: id
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search query to filter resources by name
        required: false
        schema:
          type: string
      - name: resourceId
        in: query
        description: Filter by a single resource ID. Combined with resourceIds using
          OR — the result is the union of both.
        required: false
        schema:
          type: string
          format: uuid
      - name: resourceType
        in: query
        description: "Filter by resource type (EMPLOYEE, VEHICLE, EQUIPMENT). Deprecated:\
          \ use resourceTypes instead. If both resourceType and resourceTypes are\
          \ provided, they are combined using OR."
        required: false
        schema:
          type: string
      - name: resourceTypes
        in: query
        description: "Filter by resource types (EMPLOYEE, VEHICLE, EQUIPMENT)"
        required: false
        schema:
          type: array
          items:
            type: string
      - name: contractorIds
        in: query
        description: Filter by specific contractor IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: resourceIds
        in: query
        description: Filter by multiple resource IDs. Combined with resourceId using
          OR — the result is the union of both.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved resources list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceDetailedData"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceDetailedData"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceDetailedData"
  /v1/companies/{id}/assigned-resources/as-contractor:
    get:
      tags:
      - Shared
      summary: List assigned resources with detailed information (as contractor)
      description: "Retrieves a paginated list of resources (employees, vehicles,\
        \ equipment) assigned to contracts where the company acts as contractor, across\
        \ all its client relationships. Each resource carries per-type attributes\
        \ plus an 'engagements' array describing every (contract, site, activity)\
        \ where the resource is currently deployed. For EMPLOYEE resources, each engagement\
        \ lists the risks assigned on that specific assignment. Use 'companyScope'\
        \ to include resources from the contractor's own subcontractors (requires\
        \ the RESOURCE_READ_SUBCONTRACTOR permission). Max page size: 100."
      operationId: findAssignedResourcesAsContractor
      parameters:
      - name: id
        in: path
        description: Contractor company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search query to filter resources by name
        required: false
        schema:
          type: string
      - name: resourceId
        in: query
        description: Filter by a single resource ID. Combined with resourceIds using
          OR — the result is the union of both.
        required: false
        schema:
          type: string
          format: uuid
      - name: resourceType
        in: query
        description: "Filter by resource type (EMPLOYEE, VEHICLE, EQUIPMENT). Deprecated:\
          \ use resourceTypes instead. If both resourceType and resourceTypes are\
          \ provided, they are combined using OR."
        required: false
        schema:
          type: string
      - name: resourceTypes
        in: query
        description: "Filter by resource types (EMPLOYEE, VEHICLE, EQUIPMENT)"
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companyScope
        in: query
        description: "Filter by subcontractor scope (MY_COMPANY, MY_SUBCONTRACTORS,\
          \ ALL)"
        required: false
        schema:
          type: string
          enum:
          - ALL
          - MY_COMPANY
          - MY_SUBCONTRACTORS
      - name: contractorIds
        in: query
        description: Filter by specific contractor IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: resourceIds
        in: query
        description: Filter by multiple resource IDs. Combined with resourceId using
          OR — the result is the union of both.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved resources list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceDetailedData"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceDetailedData"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelResourceDetailedData"
  /v1/companies/{contractorId}/clients:
    get:
      tags:
      - Shared
      summary: List client companies
      description: Retrieves paginated list of client companies for a contractor.
        Use this endpoint to obtain client IDs for filtering in access-control endpoints.
      operationId: findClients
      parameters:
      - name: contractorId
        in: path
        description: Contractor company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search query to filter clients by name
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved clients list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelCompanyClientData"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelCompanyClientData"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelCompanyClientData"
  /v1/companies/{companyId}/users:
    get:
      tags:
      - Shared
      summary: List company users
      description: "Returns a paginated list of users for the company. Supports optional\
        \ search (q), role filters, and selected user IDs."
      operationId: findUsers
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search text (partial match)
        required: false
        schema:
          type: string
      - name: role
        in: query
        description: Filter by a single role ID
        required: false
        schema:
          type: string
          format: uuid
      - name: roles
        in: query
        description: Filter by role IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: selected
        in: query
        description: Optional subset of user IDs to include
        required: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseUserData"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/employees:
    get:
      tags:
      - Shared
      summary: List employees
      description: "Returns a paginated list of employees for a contractor company.\
        \ Used to locate the internal `resourceId` needed for contract engagement\
        \ assignment. The `q` parameter performs a partial match against `firstName`,\
        \ `lastName`, `identity` (DNI/passport/SSN), and `email`. **Allowed sort fields:**\
        \ `firstName`, `lastName`, `identity`, `email`, `phone`, `country.name`. **Sort\
        \ format:** `sort=field,direction` (e.g. `?sort=lastName,asc`)."
      operationId: findAll_4
      parameters:
      - name: q
        in: query
        description: Search query (partial match on employee fields)
        required: false
        schema:
          type: string
      - name: clientId
        in: query
        description: "When set, restricts results to resources for this client company"
        required: false
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "firstName,ASC"
          items:
            type: string
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: companyScope
        in: query
        description: "Subcontractor scope: which contractors' employees to include\
          \ (requires permission when not MY_COMPANY)"
        required: false
        schema:
          type: string
          enum:
          - ALL
          - MY_COMPANY
          - MY_SUBCONTRACTORS
      - name: contractorIds
        in: query
        description: Filter to employees belonging to these contractor company IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: selected
        in: query
        description: Optional employee resource IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      responses:
        "200":
          description: Successfully retrieved list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelEmployeeResponseDto"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/vehicles:
    get:
      tags:
      - Shared
      summary: List vehicles
      description: "Returns a paginated list of vehicles for the company. Supports\
        \ optional text search (q), subcontractor scope, and contractor filters."
      operationId: findAll
      parameters:
      - name: q
        in: query
        description: Search query (partial match on vehicle fields)
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: companyScope
        in: query
        description: "Subcontractor scope: which contractors' vehicles to include\
          \ (requires permission when not MY_COMPANY)"
        required: false
        schema:
          type: string
          enum:
          - ALL
          - MY_COMPANY
          - MY_SUBCONTRACTORS
      - name: contractorIds
        in: query
        description: Filter to vehicles belonging to these contractor company IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: selected
        in: query
        description: Optional vehicle resource IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      responses:
        "200":
          description: Successfully retrieved list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelVehicleResponseDto"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/equipment:
    get:
      tags:
      - Shared
      summary: List equipment
      description: "Returns a paginated list of equipment for the company. Supports\
        \ optional text search (q), subcontractor scope, and contractor filters."
      operationId: findAll_3
      parameters:
      - name: q
        in: query
        description: Search query (partial match on equipment fields)
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: companyScope
        in: query
        description: "Subcontractor scope: which contractors' equipment to include\
          \ (requires permission when not MY_COMPANY)"
        required: false
        schema:
          type: string
          enum:
          - ALL
          - MY_COMPANY
          - MY_SUBCONTRACTORS
      - name: contractorIds
        in: query
        description: Filter to equipment belonging to these contractor company IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      responses:
        "200":
          description: Successfully retrieved list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelEquipmentResponseDto"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/contracts/with-clients:
    get:
      tags:
      - Shared
      summary: Get contracts where my company is contractor
      description: "Returns paginated contracts where the specified company acts as\
        \ contractor. **Allowed sort fields:** `created_at` (contract creation date,\
        \ default descending); `name` (contract name); `client.name` (client company\
        \ name); `contractor.name` (contractor company name); `mainContractor.name`\
        \ (main contractor company name); `dateFrom` (contract start date); `dateTo`\
        \ (contract end date). **Sort format:** `?sort=field,direction` (e.g. `?sort=name,asc`)."
      operationId: contractsWhereMyCompanyIsContractor
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: clientId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: showSubcontracts
        in: query
        required: false
        schema:
          type: boolean
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: contractId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: contractName
        in: query
        required: false
        schema:
          type: string
      - name: siteIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: activityIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: showExpired
        in: query
        required: false
        schema:
          type: boolean
      - name: clientTaxId
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "created_at,ASC"
          items:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseContractData"
  /v1/companies/{companyId}/visitor/{visitorId}:
    get:
      tags:
      - Access control
      summary: Get visitor by ID
      description: "Returns one visitor including identity, company, and document\
        \ URLs. Use before editing or when resolving `visitorId` for visits."
      operationId: getVisitor
      parameters:
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      - name: visitorId
        in: path
        description: Visitor ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Successfully retrieved visitor
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetVisitorResponse"
        "400":
          description: "Bad request: invalid path parameters (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Visitor not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
    put:
      tags:
      - Access control
      summary: Update a visitor
      description: "Updates visitor details. Use [GET /v1/companies/{companyId}/visitor/{visitorId}](#tag/visitor-controller/GET/v1/companies/{companyId}/visitor/{visitorId})\
        \ to load current values."
      operationId: updateVisitor
      parameters:
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      - name: visitorId
        in: path
        description: Visitor ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVisitorDto"
        required: true
      responses:
        "200":
          description: Visitor updated
          content:
            '*/*':
              schema:
                type: string
                format: uuid
        "400":
          description: "Bad request: validation failed, missing file in storage, or\
            \ other business rule (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Visitor not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: "Conflict: duplicate visitor identity or database constraint\
            \ violation (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/visitor:
    get:
      tags:
      - Access control
      summary: List distinct visitors
      description: "Paginated list of visitors for filtering and selection (e.g. visit\
        \ register filters). Identity numbers returned here match the `visitors` query\
        \ parameter on [GET /v1/companies/{companyId}/visit-register](#tag/visit-register-controller/GET/v1/companies/{companyId}/visit-register).\
        \ **Related:** Sites for visits — [GET /v1/companies/{companyId}/sites](#tag/site-controller/GET/v1/companies/{companyId}/sites)."
      operationId: getVisitors
      parameters:
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: "Search by name, identity number, or plate (case insensitive,\
          \ partial match)"
        required: false
        schema:
          type: string
      - name: selected
        in: query
        description: Identity document numbers to list first in the page (same as
          each row's `identity` field)
        required: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved visitors
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetDistinctVisitorsResponse"
        "400":
          description: "Bad request: invalid query or pagination parameters (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
    post:
      tags:
      - Access control
      summary: Create a visitor
      description: "Creates a visitor record for the client company. Use the returned\
        \ ID as `visitorId` when calling [POST /v1/companies/{companyId}/visit-register](#tag/visit-register-controller/POST/v1/companies/{companyId}/visit-register).\
        \ Upload files first via [GET /v1/companies/{companyId}/visitor/temporary-upload-url](#tag/visitor-controller/GET/v1/companies/{companyId}/visitor/temporary-upload-url),\
        \ then pass the stored object keys in `files`."
      operationId: createVisitor
      parameters:
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVisitorDto"
        required: true
      responses:
        "201":
          description: Visitor created; response body contains the new visitor ID
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
        "400":
          description: "Bad request: validation failed, visitor has an open visit\
            \ without exit, or file not found in storage (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: "Conflict: duplicate visitor identity or database constraint\
            \ violation (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/visit-register:
    get:
      tags:
      - Access control
      summary: Get all company visits
      description: "Retrieves paginated visit records for a company. The 'sites' filter\
        \ parameter accepts site IDs which can be obtained from [GET /v1/companies/{companyId}/sites](#tag/site-controller/GET/v1/companies/{companyId}/sites).\
        \ **Allowed sort fields:** `visitor_name` (visitor name); `company_name` (company\
        \ name); `resource_name` (visited person name); `site_name` (site name); `entry_at`\
        \ (entry timestamp); `exit_at` (exit timestamp, default, missing on top).\
        \ **Sort format:** `?sort=field,direction` (e.g. `?sort=exit_at,desc`). **Search:**\
        \ Use `q` to filter by visitor name, identity number (national ID, passport,\
        \ SSN, etc.), or vehicle registration plate (case insensitive, partial match)."
      operationId: getAllCompanyVisits
      parameters:
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      - name: visitors
        in: query
        required: false
        schema:
          type: array
          description: Visitor identity document numbers. Values align with visitor
            `idNumber` / identity from the visitor list API.
          items:
            type: string
      - name: companies
        in: query
        required: false
        schema:
          type: array
          description: Visitor company tax IDs (exact match list).
          items:
            type: string
      - name: sites
        in: query
        required: false
        schema:
          type: array
          description: Site UUIDs to restrict visits.
          items:
            type: string
            format: uuid
      - name: dateFrom
        in: query
        description: "Inclusive lower bound on entry date (`YYYY-MM-DD`, entry time\
          \ at or after start of day UTC)."
        required: false
        schema:
          type: string
          format: date
          description: "Inclusive lower bound on entry date (`YYYY-MM-DD`, entry time\
            \ at or after start of day UTC)."
          example: 2026-03-01
        example: 2026-03-01
      - name: dateTo
        in: query
        description: "Inclusive upper bound on entry date (`YYYY-MM-DD`, entry time\
          \ before start of the next day UTC)."
        required: false
        schema:
          type: string
          format: date
          description: "Inclusive upper bound on entry date (`YYYY-MM-DD`, entry time\
            \ before start of the next day UTC)."
          example: 2026-03-31
        example: 2026-03-31
      - name: plateNumbers
        in: query
        required: false
        schema:
          type: array
          description: Vehicle registration plates (exact match list).
          items:
            type: string
      - name: onlyAtSite
        in: query
        description: "When true, only visits with no exit recorded."
        required: false
        schema:
          type: boolean
          description: "When true, only visits with no exit recorded."
      - name: q
        in: query
        description: "Search across visitor full name, identity number, and plate\
          \ (case-insensitive, partial match)."
        required: false
        schema:
          type: string
          description: "Search across visitor full name, identity number, and plate\
            \ (case-insensitive, partial match)."
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "exit_at,DESC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved visits
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetCompanyVisitsResponse"
        "400":
          description: "Bad request: invalid pagination, sort field, or filter parameters\
            \ (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
    post:
      tags:
      - Access control
      summary: Register a visit entry
      description: "Creates a visit entry (visitor on site). `siteId` must be a site\
        \ the company can access; `visitorId` identifies the visitor record. **Related:**\
        \ Sites — [GET /v1/companies/{companyId}/sites](#tag/site-controller/GET/v1/companies/{companyId}/sites).\
        \ Visitors — [GET /v1/companies/{companyId}/visitor](#tag/visitor-controller/GET/v1/companies/{companyId}/visitor),\
        \ [POST /v1/companies/{companyId}/visitor](#tag/visitor-controller/POST/v1/companies/{companyId}/visitor)."
      operationId: createVisitEntry
      parameters:
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVisitDto"
        required: true
      responses:
        "201":
          description: Visit entry created; response body contains the new visit register
            ID
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
        "400":
          description: "Bad request: validation failed, site not valid for company,\
            \ or visitor already has an open visit (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Visitor not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/access-register:
    get:
      tags:
      - Access control
      summary: List access register records
      description: "Returns paginated access register records for the company. Supports\
        \ filters (site, resource, contractor, type, date range, entry-only, latest\
        \ entrance), text search (q), and pageable sort; default sort is entry_at\
        \ descending. Allowed sort fields are documented on the pageable parameter."
      operationId: getAccessRegisterRecords
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: query
        description: "Filter by site ID. Obtain site IDs from [GET /v1/companies/{companyId}/sites](#tag/site-controller/GET/v1/companies/{companyId}/sites)"
        required: false
        schema:
          type: string
          format: uuid
      - name: resourceId
        in: query
        description: Filter by resource ID. Obtain resource IDs from access-control
          endpoints (resource.id field)
        required: false
        schema:
          type: string
          format: uuid
      - name: contractorId
        in: query
        description: Filter by contractor ID. Obtain contractor IDs from access-control
          endpoints (contractor.id field)
        required: false
        schema:
          type: string
          format: uuid
      - name: resourceType
        in: query
        description: "Filter by resource discriminator (e.g. EMPLOYEE, VEHICLE, EQUIPMENT)"
        required: false
        schema:
          type: string
      - name: from
        in: query
        description: Filter entries with entry_at on or after this instant (inclusive)
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: Filter entries with entry_at on or before this instant (inclusive)
        required: false
        schema:
          type: string
          format: date-time
      - name: entryOnly
        in: query
        description: "When true, only entries without an exit are returned"
        required: false
        schema:
          type: boolean
          default: false
      - name: latestEntrance
        in: query
        description: "When true, only the latest entrance per resource is returned"
        required: false
        schema:
          type: boolean
          default: false
      - name: q
        in: query
        description: "Search query: filters by resource fields (contains, case-insensitive).\
          \ Employee: name, surname, identity ID; Vehicle: name, plate number; Equipment:\
          \ name, serial number."
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "entry_at,DESC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetAccessRegisterResponse"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
    post:
      tags:
      - Access control
      summary: Create access register entry
      description: Records a site entry for a resource (Twind 2 IDs in the request
        body).
      operationId: createAccessRegisterEntry
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterDto"
        required: true
      responses:
        "200":
          description: Successfully created; response body contains the new entry
            id
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
        "400":
          description: Invalid request body or validation error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/access-control/temporary-authorizations:
    get:
      tags:
      - Access control
      summary: List temporary authorizations
      description: Returns paginated temporary authorizations for the client company
        (one row per site/resource).
      operationId: listTemporaryAuthorizations
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: authorizationIds
        in: query
        description: Filter by authorization group IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: statuses
        in: query
        description: "Filter by status (ALLOWED, NOT_ALLOWED)"
        required: false
        schema:
          type: array
          items:
            type: string
      - name: contractorIds
        in: query
        description: Filter by contractor IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: dateFrom
        in: query
        description: "Filter from date (inclusive, overlap semantics)"
        required: false
        schema:
          type: string
          format: date
      - name: dateTo
        in: query
        description: "Filter to date (inclusive, overlap semantics)"
        required: false
        schema:
          type: string
          format: date
      - name: resourceIds
        in: query
        description: Filter by resource IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: resourceTypes
        in: query
        description: "Filter by resource types (EMPLOYEE, VEHICLE, EQUIPMENT)"
        required: false
        schema:
          type: array
          items:
            type: string
      - name: siteIds
        in: query
        description: Filter by site IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: validityStatuses
        in: query
        description: "Filter by validity status (SCHEDULED, ACTIVE, EXPIRED, DELETED)"
        required: false
        schema:
          type: array
          items:
            type: string
      - name: authorizerIds
        in: query
        description: Filter by authorizer user IDs
        required: false
        schema:
          type: array
          items:
            type: string
      - name: name
        in: query
        description: Filter by authorization name (partial match)
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetTemporaryAuthorizationListItem"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
    post:
      tags:
      - Access control
      summary: Create temporary authorization
      description: Creates a temporary authorization for the client company. Each
        resource in resourceIds is added for each site in siteIds (Cartesian product).
      operationId: createTemporaryAuthorization
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTemporaryAuthorizationDto"
        required: true
      responses:
        "201":
          description: Successfully created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
        "400":
          description: "Invalid request (e.g. dateTo < dateFrom, empty siteIds or\
            \ resourceIds)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/visit-register/{visitRegisterId}:
    get:
      tags:
      - Access control
      summary: Get visit details
      description: "Returns full details for a single visit, including visitor, site,\
        \ entry/exit, and registrants."
      operationId: getVisitDetails
      parameters:
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      - name: visitRegisterId
        in: path
        description: Visit register record ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Successfully retrieved visit details
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetVisitDetailsResponse"
        "400":
          description: "Bad request: invalid parameters (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Visit not found or not visible
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
    patch:
      tags:
      - Access control
      summary: Register a visit exit
      description: Records exit time and notes for an open visit. Use the visit ID
        returned from the visit list or create-entry response.
      operationId: updateVisitExit
      parameters:
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      - name: visitRegisterId
        in: path
        description: Visit register record ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVisitExitDto"
        required: true
      responses:
        "200":
          description: Exit recorded; response body contains the visit register ID
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
        "400":
          description: "Bad request: validation failed, exit before entry, visit already\
            \ exited, or exit could not be recorded (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Visit register record not found for this company
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/access-register/{accessRegisterId}:
    patch:
      tags:
      - Access control
      summary: Record exit for access register entry
      description: Sets exit time and notes for an open access register record (Twind
        2 IDs).
      operationId: updateAccessRegisterWithExit
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: accessRegisterId
        in: path
        description: Access register entry ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNotesDto"
        required: true
      responses:
        "200":
          description: Successfully updated; response body contains the entry id
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdValue"
        "400":
          description: Invalid request body or validation error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Access register entry not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/access-control/temporary-authorizations/{temporaryAuthorizationId}:
    get:
      tags:
      - Access control
      summary: Get temporary authorization by ID
      description: Returns a single temporary authorization for the client company.
      operationId: getTemporaryAuthorization
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: temporaryAuthorizationId
        in: path
        description: Temporary authorization ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Successfully retrieved
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetTemporaryAuthorizationResponse"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Temporary authorization not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
    delete:
      tags:
      - Access control
      summary: Delete temporary authorization
      description: Soft-deletes a temporary authorization for the client company.
      operationId: deleteTemporaryAuthorization
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: temporaryAuthorizationId
        in: path
        description: Temporary authorization ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Successfully deleted
          content: {}
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Temporary authorization not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
    patch:
      tags:
      - Access control
      summary: Update temporary authorization
      description: Updates an existing temporary authorization for the client company.
        Each resource in resourceIds is applied for each site in siteIds (Cartesian
        product).
      operationId: updateTemporaryAuthorization
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: temporaryAuthorizationId
        in: path
        description: Temporary authorization ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTemporaryAuthorizationDto"
        required: true
      responses:
        "204":
          description: Successfully updated
          content: {}
        "400":
          description: "Invalid request (e.g. dateTo < dateFrom, empty siteIds or\
            \ resourceIds)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Temporary authorization not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{id}/all-contractors:
    get:
      tags:
      - Access control
      summary: List related companies
      description: "Retrieves paginated list of related companies (contractors or\
        \ clients). Use this endpoint to obtain company IDs for filtering in other\
        \ endpoints. **Allowed sort fields:** `name` (company name, default); `taxId`\
        \ (tax ID); `industry` (industry key); `email` (company email). **Sort format:**\
        \ `?sort=field,direction` (e.g. `?sort=name,asc`)."
      operationId: findAllContractors_1
      parameters:
      - name: id
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: "Text search term, matched against company name, email, and tax\
          \ ID. Ignored when filterById is set."
        required: false
        schema:
          type: string
          description: "Text search term, matched against company name, email, and\
            \ tax ID. Ignored when filterById is set."
      - name: filterById
        in: query
        description: "When set, performs a point-lookup by ID and ignores the 'q'\
          \ search parameter."
        required: false
        schema:
          type: string
          format: uuid
          description: "When set, performs a point-lookup by ID and ignores the 'q'\
            \ search parameter."
      - name: filterByIds
        in: query
        description: "When set, performs a batch lookup by IDs. The 'q' search parameter\
          \ is ignored. If combined with filterById, filterById is ignored."
        required: false
        schema:
          type: array
          description: "When set, performs a batch lookup by IDs. The 'q' search parameter\
            \ is ignored. If combined with filterById, filterById is ignored."
          items:
            type: string
            format: uuid
            description: "When set, performs a batch lookup by IDs. The 'q' search\
              \ parameter is ignored. If combined with filterById, filterById is ignored."
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          default:
          - "name,ASC"
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved companies list
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedModelMyCompanyDataDto"
  /v1/companies/{companyId}/visitor/temporary-upload-url:
    get:
      tags:
      - Access control
      summary: Get presigned upload URL for visitor documents
      description: "Returns a presigned POST URL and form fields for uploading a file\
        \ to object storage. After upload, pass the resulting object key(s) in `files`\
        \ on create or update visitor."
      operationId: getTemporaryUploadURL
      parameters:
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      - name: contentType
        in: query
        description: MIME type of the file to upload
        required: true
        schema:
          type: string
      - name: fileName
        in: query
        description: Original file name
        required: true
        schema:
          type: string
      responses:
        "200":
          description: JSON with `url` and `fields` for the browser or client to POST
            the file
          content:
            '*/*':
              schema:
                type: object
                additionalProperties: {}
        "400":
          description: "Bad request: missing or invalid content type or file name\
            \ (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/visitor/plate-numbers:
    get:
      tags:
      - Access control
      summary: List distinct visitor vehicle plates
      description: "Plate values match the `plateNumbers` filter on [GET /v1/companies/{companyId}/visit-register](#tag/visit-register-controller/GET/v1/companies/{companyId}/visit-register)."
      operationId: getVisitorsPlateNumbers
      parameters:
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search filter (partial match)
        required: false
        schema:
          type: string
      - name: selected
        in: query
        description: Pre-selected plates to pin in results
        required: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved plate numbers
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseString"
        "400":
          description: "Bad request: invalid query or pagination parameters (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/visitor/companies:
    get:
      tags:
      - Access control
      summary: List distinct visitor company tax IDs
      description: "Tax IDs returned here match the `companies` filter on [GET /v1/companies/{companyId}/visit-register](#tag/visit-register-controller/GET/v1/companies/{companyId}/visit-register)."
      operationId: getVisitorsCompanies
      parameters:
      - name: companyId
        in: path
        description: Company ID (client)
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search filter (partial match)
        required: false
        schema:
          type: string
      - name: selected
        in: query
        description: Pre-selected tax IDs to pin in results
        required: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved company tax IDs
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetDistinctCompaniesResponse"
        "400":
          description: "Bad request: invalid query or pagination parameters (ProblemDetail)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/contractors/{contractorId}/access-control/{type}/{resourceId}:
    get:
      tags:
      - Access control
      summary: Download access card
      description: "Returns an access card for the resource as a PDF or PNG attachment\
        \ (Content-Disposition attachment, body is the file stream). Subcontract visibility\
        \ follows ACCESS_CONTROL_READ_SUBCONTRACTORS when the user has that permission."
      operationId: generateAccessCardPdf
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: contractorId
        in: path
        description: Contractor company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: type
        in: path
        description: "Output format: PDF or PNG (case-insensitive path segment)"
        required: true
        schema:
          type: string
          enum:
          - PDF
          - PNG
      - name: resourceId
        in: path
        description: Contractor resource ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Successfully retrieved file
          content:
            '*/*':
              schema:
                type: string
                format: binary
        "400":
          description: Invalid type or business rule violation
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/access-register/{accessRecordId}:
    get:
      tags:
      - Access control
      summary: Get access register entry by ID
      description: "Returns a single access register record for the company, or 404\
        \ if not found."
      operationId: getAccessRegisterRecordById
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: accessRecordId
        in: path
        description: Access register entry ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Successfully retrieved
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetAccessRegisterResponse"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Access register entry not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/access-control/{id}:
    get:
      tags:
      - Access control
      summary: Get access control status by resource
      description: "Retrieves detailed access control status for a specific resource.\
        \ The resource ID is a composite identifier in the format '{resourceId}-{siteId}'.\
        \ Subcontractor data is included if the user has permission."
      operationId: getAccessControlStatusByResource
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        description: "Composite resource identifier in format '{resourceId}-{siteId}'"
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieved access control status
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetResourceAccessControlResponse"
        "401":
          description: "Unauthorized: authentication required"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetResourceAccessControlResponse"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetResourceAccessControlResponse"
        "404":
          description: Resource not found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetResourceAccessControlResponse"
        "500":
          description: Internal server error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GetResourceAccessControlResponse"
  /v1/companies/{companyId}/access-control/temporary-authorizations/names:
    get:
      tags:
      - Access control
      summary: Search authorization names
      description: "Returns authorization groups matching the search term, for use\
        \ in filter dropdowns. Multiple groups may share the same name."
      operationId: getTemporaryAuthorizationNames
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search term (partial name match)
        required: false
        schema:
          type: string
      - name: ids
        in: query
        description: Return specific authorization IDs regardless of search term
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Successfully retrieved
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseGetTemporaryAuthorizationNameItem"
        "401":
          description: "Unauthorized: authentication required"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: "Access denied: insufficient permissions"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /v1/companies/{companyId}/access-control/temporary-authorizations/authorizers:
    get:
      tags:
      - Access control
      summary: Search authorizers for temporary authorizations
      description: "Returns users who can authorize temporary authorizations (ClientAdmin\
        \ or TemporaryAuthorizationManager role), for use in filter dropdowns."
      operationId: getAuthorizers
      parameters:
      - name: companyId
        in: path
        description: Client company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        description: Search term (partial name match)
        required: false
        schema:
          type: string
      - name: userId
        in: query
        description: Fetch a specific user by ID
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - name: sort
        in: query
[...]
